<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
<link rel="stylesheet " type="text/css " href="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css" />
<title>Edit Properties</title>
<body>
    <script src="js/registration.js "></script>
    <script src="js/cities.js"></script>
    <div class="container ">

        <form class="well form-horizontal " action="/updateproperty" method="post" id="contact_form ">
            <fieldset>

                <!-- Form Name -->
                <legend>
                    <center>
                        <h2><b>PROPERTY EDIT</b></h2>
                    </center>
                </legend><br>

                <!-- Text input-->
                <input type="hidden" name="_id" id="_id" value="<%=property._id%>">
                <div class="form-group ">
                    <label class="col-md-4 control-label ">Property Name</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input-group ">
                            <span class="input-group-addon "><i class="glyphicon glyphicon-home "></i></span>
                            <input name="name" id="name" value="<%=property.name%>" class="form-control " type="text" required>
                        </div>
                    </div>
                </div>

                <!-- Text input-->

                <div class="form-group ">
                    <label class="col-md-4 control-label ">Contact No.</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input-group ">
                            <span class="input-group-addon "><i class="glyphicon glyphicon-earphone "></i></span>
                            <input name="phone" id = "phone" value="<%=property.phone%>" class="form-control " type="text" required>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 control-label ">Email</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input-group ">
                            <span class="input-group-addon "><i class="	glyphicon glyphicon-envelope "></i></span>
                            <input name="email" id="email" placeholder="email " class="form-control" value="<%=property.email%>" type="text" readonly="readonly">
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-4 control-label ">Address</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input-group ">
                            <span class="input-group-addon "><i class="glyphicon glyphicon-map-marker "></i></span>
                            <input name="address" id="address"value="<%=property.address%>" class="form-control " type="text" required>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-4 control-label ">Area/Street</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input-group ">
                            <span class="input-group-addon "><i class="glyphicon glyphicon-map-marker "></i></span>
                            <input name="area" id="area" value="<%=property.area%>" class="form-control " type="text" required>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-4 control-label ">States</label>
                    <div class="col-md-4 selectContainer ">
                        <div class="input-group ">
                            <span class="input-group-addon "><i class="glyphicon glyphicon-list "></i></span>
                            <select onchange="print_city('city', this.selectedIndex);" id="state" name ="state" class="form-control" required>
                                <option value="<%=property.state%>" selected><%=property.state%></option>
                            </select>
                            <select id ="city" name="city" class="form-control" required>
                                <option value="<%=property.city%>" selected><%=property.city%></option>
                            </select>
                        </div>
                    </div>
                </div>

                <!-- Text input-->


                <div class="form-group ">
                    <label class="col-md-4 control-label ">Price</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input-group ">
                            <span class="input-group-addon "> &#8377</span>
                            <input name="price" value="<%=property.price%>" class="form-control " type="text " required>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 control-label ">Gender</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input_field radio_option">
                            <input type="radio" name="genders" id="rd1" value="Male">
                            <label for="rd1">Male</label>
                            <input type="radio" name="genders" id="rd2" value="Female">
                            <label for="rd2">Female</label>
                            <input type="radio" name="genders" id="rd3" value="Uni">
                            <label for="rd2">Uni</label>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <label class="col-md-4 control-label ">Property Type</label>
                    <div class="col-md-4 inputGroupContainer ">
                        <div class="input_field radio_option">
                            <input type="radio" name="propertyType" id="propertyType" value="PG">
                            <label for="pt1">PG</label>
                            <input type="radio" name="propertyType" id="propertyType" value="Mess">
                            <label for="pt2">Mess</label>
                            <input type="radio" name="propertyType" id="propertyType" value="House">
                            <label for="pt3">House</label>
                        </div>
                    </div>
                </div> 



                <div class="col-md-8 control-label ">
                    <div>
                        <%
                        var laundry='';
                        var security='';
                        var wifi='';
                        var food='';
                        var cleaner='';

                        if (property.laundry=="yes"){
                            laundry="checked"
                        }
                        if (property.wifi=="yes"){
                            wifi="checked"
                        }
                        if (property.food=="yes"){
                            food="checked"
                        }
                        if (property.cleaner=="yes"){
                            cleaner="checked"
                        }
                        if (property.security=="yes"){
                            security="checked"
                        }
                        %>
                        <input type="checkbox" id="laundry" name="laundry" value="Yes" <%=laundry%>>
                        <label for="laundry">Laundry</label>
                        <input type="checkbox" id="cb2" name="wifi" value="yes"<%=wifi%>>
                        <label for="cb2">WI-Fi</label>
                        <input type="checkbox" id="cb3" name="food" value="yes"<%=food%>>
                        <label for="cb3">Food</label>
                        <input type="checkbox" id="cb4"name="cleaner" value="yes"<%=cleaner%>>
                        <label for="cb4">Cleaner</label>
                        <input type="checkbox" id="cb5" name="security" value="yes"<%=security%>>
                        <label for="cb5">Security</label>
                    </div>
                </div>

                <!-- Button -->
                <div class="col-md-10 control-label ">
                    <label class="col-md-4 control-label "></label>
                    <div class="col-md-4 "><br> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit " class="btn btn-warning ">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspUPDATE <span class="glyphicon glyphicon-send "></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    </div>
    <script language="javascript">print_state("state");</script>
    <!-- /.container -->
</body>

</html>